body{
    margin: 0;
    line-height: 1.5;
    /*overflow: hidden;*/
}
/*Sign up form*/
.sidebar li{
    list-style: none;
}
.sidebar li:hover{
    background: #b9bbbe;
}
.sidebar{
    padding: 0;
    margin: 5px;
}
.sidebar li a{
    text-decoration: none;
    color: #000000;
    font-size: 25px;
}
.sidenav{
    background: #95999c;
}
.loginForm{
    border-radius: 1em;
    border: 1px solid #454d55;
    padding: 20px;
    margin: 20px;
    max-width: 500px;
    text-align: center;
    background: #8fd19e;
    font-size: 25px;
    /*position: relative;*/
    /*left: 20%;*/
    /*top: 20%;*/
    z-index: 1;
}
.form-group{
    padding: 10px;
}
.loginForm a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    padding: 5px;
}
.loginForm a:hover{
    color: #007bff;
}
.loginForm form div .form-control{
    border-radius: 5px;
    width: 90%;
    padding: 10px;
}
.signupform{
    border-radius: 1em;
    border: 1px solid #1b1e21;
    max-width: 100%;
    padding: 20px;
    margin: 20px;
}
.signupform table, .signupform table tbody tr{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000;
}
td{
    padding: 3px;
    border: 1px solid #000000;
    font-size: 18px;
}
.signupform .btn{
    padding: 5px;
    width: 100px;
    font-size: 18px;
}
.signupform table thead{
    background: #0f6674;
    color: white;
}
.mb-4{
    margin-bottom: 30px;
}
.form-row{
    display: inline-flex;
    width: 90%;
}
.col{
    padding-right: 5px;
    padding-left: 5px;
}
.col input{
    padding: 10px;
    /*width: ;*/
    border-radius: 5px;
}
.form-control{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}
select{
    padding: 10px;
    border-radius: 5px;
}
.btn{
    padding: 5px;
    border-radius: 5px;
    background: #b9bbbe;
}
.btn:hover{
    background: #95999c;
}
.h4{
    font-size: 25px;
    text-align: center;
}

/*Input forms*/
.detailform{
    padding: 10px;
    margin: 10px;
    border: 1px solid #040505;
    border-radius: 1.5em;
    /*inline-size: min-content;*/
}
.detailform1{
    padding: 20px;
    margin: 10px;
    border: 1px solid #040505;
    border-radius: 1.5em;
    inline-size: auto;
}
.form-row div label{
    padding: 10px;
    margin: 10px;
}
.form-row div input{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.form-row div{
    padding: 10px;
}
.col select{
    margin-top: 10px;
}
.table-responsive{

}
.table td, table th{
    padding: .75rem;
    vertical-align: top;
}
.table td input{
    width: 100%;
}
.table-bordered,.table-bordered tr td,th{
    border: 1px solid #000000;
}
.table{
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

/*Dropdown button*/
.dropbtn{
    background:#1b1e21;
    color: rgba(255,255,255, 0.5);
    padding: 10px;
    font-size: 20px;
    border: none;
}
.dropbtn{
    position: relative;
    display: block;
    margin: -15px;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{background: #040505;}
.dropdown-content a{
    background: #040505;
}
.register{
    border-radius: 2em;
    border: 1px solid #000000;
    margin: 20px;
    display: block;
    padding: 20px;
    width: 70%;
}
.register select{
    padding: 10px;
    margin-left: 20%;
}
.register .btn{
    margin-left: 45%;
}
.reg-modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 15%;
    top: 15%;
    /*width: 90%;*/
    /*height: 100%;*/
    overflow: auto;
    /*background-color: rgb(0,0,0);*/
    background-color: rgb(176, 216, 188);
}
.close{
    position: relative;
    top: -80px;
    color: #454d55;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover{
    color: #000;
    text-decoration: none;
    collapse: pointer;
}
.profile-image{
    width: 250px;
}
.profile-text{
    padding-left: 20px;
    padding-right: 20px;
}